[Unit]

Description=Gunicorn Daemon for SiteSEO App

After=network.target


[Service]

User=root

Group=www-data

WorkingDirectory=/home/siteseo

Environment="PATH=/home/siteseo/venv/bin"

ExecStart=/home/siteseo/venv/bin/gunicorn -c gunicorn_conf.py app.main:seo_app


[Install]

WantedBy=multi-user.target